@font-face {
    font-family: 'MijnLettertype';
    src: url('AlexBrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Pas het lettertype toe op de hele pagina */
body {
    font-family: 'MijnLettertype', sans-serif;
}

/* Stel de lettergrootte in voor div-elementen */
div {
    font-size: 40px;
}

/* Pas de stijl van h1 aan */
h1 {
    font-size: 50px;
    text-align: center;
}
