@font-face {
    font-family: 'MijnLettertype';
    src: url('Hand_Type_Writer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Pas het lettertype toe op de hele pagina */
body {
    font-family: 'MijnLettertype', sans-serif;
}

